body {
    font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: white;
    text-shadow: 0 2px 4px #5b3c88;
    margin: 0;
    text-transform: uppercase;
    opacity: 0;
}

form {
    text-transform: uppercase;
}


ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

option {
    
}  


.labels {
    padding: 10px;
    vertical-align: middle;
    font-size: 20px;
}

select {
    text-align: center;
    width: 70%;
    height: 30px;
    font-size: 100%;
    vertical-align: middle;
    border-radius: 25px;
}

.fmbtn {
    padding-top: 50px;    
}

#btnOverlay {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.main_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid: 18% 38% 38% / 20% 50% 20%;
    column-gap: 5%;
    grid-row-gap: 3%;
    background-color: transparent;
    opacity: 1
    /*background-image: url(background%20test%20for%20overlay.webp);*/
}

.logo {    
    max-height: 100%;
    max-width: 100%;
}

.initialForm {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: block;
    background: rgb(131,125,125,.6);
    background: linear-gradient(180deg, rgba(131,125,125,.6) 0%, rgba(189,179,189,.6) 100%);
    border-radius: 25px;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
    place-self: end center;
    height: 80%;
    width: 50%;
    z-index: 3;
}

.hiddendivs {
    opacity: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
}