.middle_container {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    position: relative;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid: 100% / 20% 60% 20%;
    width: 100%;
    height: 100%;
    /*padding-top: 20px;*/
}

.blue_players_container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;
    display: grid;
    justify-content: stretch;
    align-content: center;
    justify-items: start;
    align-items: stretch;
    grid: 8% 8% 8% 8% 21% 15%/ 72% 28%;
    width: 100%;
    height: 100%;
    grid-row-gap: 4%;
}

.player_cont {
    box-sizing: border-box;
    place-self: end center;
    background: rgb(131,125,125);
    background: linear-gradient(135deg, rgba(103,94,94,0.9) 0%, rgba(170,161,170,0.8) 100%);
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    outline: 2px solid #f5f5f5;
    z-index: 1;
}

.bl_P1 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid: 13% 65% 22% / 87% 13%;
    z-index: 4;
    left: -110%;
}

.bl_P2 {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid: 13% 65% 22% / 87% 13%;
    z-index: 4;
    left: -110%;
}

.bl_P3 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid: 13% 65% 22% / 87% 13%;
    z-index: 4;
    left: -110%;
}

.bl_name {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-weight: 600;
    font-size: 100%;
    line-height: 100%;
    margin-left: 2%;
}

.bl_boost {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-weight: 600;
    font-size: 100%;
    line-height: 100%;
}

.bl_boostmeter {
    -webkit-appearance: none;
    justify-content: stretch;
    align-content: stretch;
    justify-items: start;
    align-items: stretch;
    background: transparent;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    height: 100%;
    vertical-align: top;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.bl_boostmeter::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    background: rgba(35,35,231,0.9102001404494382);
    box-shadow: -407px 0 1px 407px rgba(35,35,231,0.9102001404494382);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.orange_players_container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: absolute;
    display: grid;
    justify-content: stretch;
    align-content: center;
    justify-items: start;
    align-items: stretch;
    grid: 8% 8% 8% 8% 21% 15%/ 28% 72%;
    width: 100%;
    height: 100%;
    grid-row-gap: 4%;
    overflow: hidden;
}

.ol_P1 {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid: 13% 65% 22% / 13% 87%;
    right: -110%;
    background: linear-gradient(225deg, rgba(103,94,94,0.9) 0%, rgba(170,161,170,0.8) 100%);
    z-index: 4;
    
}

.ol_P2 {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid: 13% 65% 22% / 13% 87%;
    right: -110%;
    background: linear-gradient(225deg, rgba(103,94,94,0.9) 0%, rgba(170,161,170,0.8) 100%);
    z-index: 4;
}

.ol_P3 {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid: 13% 65% 22% / 13% 87%;
    right: -11055%;
    background: linear-gradient(225deg, rgba(103,94,94,0.9) 0%, rgba(170,161,170,0.8) 100%);
    z-index: 4;
}

.ol_name {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
    text-align: right;
    font-weight: 600;
    font-size: 100%;
    line-height: 100%;
    margin-right: 2%;
}

.ol_boost {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: right;
    font-weight: 600;
    font-size: 100%;
    line-height: 100%;
}

.ol_boostmeter {
    -webkit-appearance: none;
    justify-content: stretch;
    align-content: stretch;
    justify-items: start;
    align-items: stretch;
    background: transparent;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    direction: rtl;
    height: 100%;
    vertical-align: top;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.ol_boostmeter::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    background: rgba(255,185,16,0.9102001404494382);
    box-shadow: 407px 0 1px 407px rgba(255,185,16,0.9102001404494382);
    transition: all 0.3s ease-in-out;
}

.player_statfeed {
    box-sizing: border-box;
    display: flex;
    place-self: end center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.statfeed_logos_blue {
    height: 115%;
    filter: invert(91%) sepia(91%) saturate(9%) hue-rotate(113deg) brightness(106%) contrast(92%) drop-shadow(0 0 10px #1923e7);
}

.testing {
    
}

.statfeed_logos_orange {
    height: 115%;
    filter: invert(91%) sepia(91%) saturate(9%) hue-rotate(113deg) brightness(106%) contrast(92%) drop-shadow(0 0 10px #ffb910);
}

.bl_P1_SF {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    height: 115%;
    width: 115%;
    z-index: 1;
    align-items: center;
    left: 7.5%;
}

.bl_P2_SF {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 115%;
    width: 115%;
    display: flex;
    z-index: 1;
    align-items: center;
    left: 7.5%;
}

.bl_P3_SF {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 115%;
    width: 115%;
    display: flex;
    z-index: 1;
    align-items: center;
    left: 7.5%;
}

.ol_P1_SF {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 115%;
    width: 115%;
    display: flex;
    z-index: 1;
    direction: rtl;    
    align-items: center;
    right: 7.5%;
}

.ol_P2_SF {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 115%;
    width: 115%;
    display: flex;
    z-index: 1;
    direction: rtl;
    align-items: center;
    right: 7.5%;
}

.ol_P3_SF {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 115%;
    width: 115%;
    display: flex;
    z-index: 1;
    direction: rtl;
    align-items: center;
    right: 7.5%;
    
}

.player_cont_demo {
    background: rgb(120,8,8);
    background: linear-gradient(40deg, rgba(120,8,8,1) 0%, rgba(184,7,7,1) 50%, rgba(143,7,7,1) 100%);
}

.player_cont_curr_bl {
    background: rgb(5,25,117);
    background: linear-gradient(315deg, rgba(5,25,117,1) 0%, rgba(7,28,205,1) 100%);
}

.player_cont_curr_bl_bst {
    -webkit-appearance: none;
    justify-content: stretch;
    align-content: stretch;
    justify-items: start;
    align-items: stretch;
    background: transparent;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    height: 100%;
    vertical-align: top;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.player_cont_curr_bl_bst::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    background: rgba(255,185,16,0.9102001404494382);
    box-shadow: -407px 0 1px 407px rgba(255,185,16,0.9102001404494382);
    transition: all 0.3s ease-in-out;
}

.player_cont_curr_or {
    background: rgb(233,149,37);
    background: linear-gradient(315deg, rgba(233,149,37,1) 0%, rgba(208,129,35,1) 100%);
}

.player_cont_curr_or_bst {
    -webkit-appearance: none;
    justify-content: stretch;
    align-content: stretch;
    justify-items: start;
    align-items: stretch;
    background: transparent;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    direction: rtl;
    height: 100%;
    vertical-align: top;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.player_cont_curr_or_bst::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    background: rgba(35,35,231,0.9102001404494382);
    box-shadow: 407px 0 1px 407px rgba(35,35,231,0.9102001404494382);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
